/* reset */
@charset "utf-8";

html{font-size: 13.3333333vw}
body{min-width: 320px;max-width: 750px;font-size: 0.28rem;background: #fafafa;}
*{padding: 0;margin: 0;font-family: microsoft yahei,'宋体',arial;font-size: .24rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color: #222;text-decoration: none;}
ul{list-style: none;}
ol{list-style: none;}
a {text-decoration: none;color: #000000;}
p { text-align: justify; text-justify: inter-ideograph; }
table,thead,tbody,th,tr,td {border-collapse: collapse;}
textarea{/*resize:vertical;*/width:100%;}
img{border: none;max-width: 100%;vertical-align: middle;}
*:focus, *:active:focus, *.active:focus, *.focus, *:active.focus, *.active.focus {outline: none;text-decoration: none;}
select,input,img,select{vertical-align:middle;}
.clear {clear: both;}
.fL { float:left;}
.fr { float: right;}
.wrap {width: 1150px;margin: 0 auto;}
/*input{outline:none;}*/
.clearfix:before,.clearfix:after{content:" ";display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;}
input:-webkit-autofill {background-color: white !important;-webkit-box-shadow: 0 0 0px 1000px white inset !important;outline:none;}
::-moz-placeholder{color:#999 !important;}
::-webkit-input-placeholder{color:#999 !important;}
:-ms-input-placeholder{color:#999 !important;}
textarea:-webkit-autofill, select:-webkit-autofill{background-color: white !important;}
input::-webkit-input-placeholder { color:#ccc; }
input::-moz-placeholder { color:#ccc;}
@media screen and (min-width: 750px) {
    html {
        font-size: 92px;
    }
}